<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Detail</title>
	<link rel='icon' sizes='131x77' href='images/icon1.png'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/detail.css" />
</head>
<body>
	<div id="main">
		<img src="/images/icon2.png"/>
		<h1><%= message %></h1>
		<h2><%= error.status %></h2>
		<div id="errorInfo"><%= error.stack %></div>
	</div> 
</body>
</html>

