body {
	text-align: center;
	background-color: #F1F2F3;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#main{
	position: relative;
	top: 50px;
	width: 385px;
	height: 470px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	box-shadow: 0px 0px 16px 0 rgba(0,0,0,0.2), 0 0px 20px 0 rgba(0,0,0,0.19);
}

img{
	position: relative;
	top: 20px;
	width: 131px;
	height: 77px;
}

h1 {
	font-weight: lighter;
}

span {
	display: inline-block;
	width: 235px;
	height: 30px;
	border-bottom: 1px black solid;
	margin-left: 10px;
	font-weight: lighter;
}

p {
	text-align: left;
	margin-left: 50px;
}

.tip {
	font-weight: lighter;
	color: #9c5656;
}

a {
	text-decoration: none;
	color: white;
	cursor: default;
	font: 25px '微软雅黑', serif;
	font-weight: lighter;
}


.button{
	position: absolute;
	top: 480px;
}

.button{
	text-align: center;
	font-family: "Century Gothic", sans-serif;
	background-color: #0091ea;
	border:1px solid #0091ea;
	color: white;
	width: 200px;
	height: 37px;
	line-height: 32px;
	margin-bottom: 10px;
	text-align: center;
	position: relative;
	top: 10px;
	border-radius: 3px;
	transition: all 0.2s;
}

.button:active{
	box-shadow: 0px 0px 16px 0 rgba(0,0,0,0.2), 0 0px 20px 0 rgba(0,0,0,0.19);
}

.button:hover{
	background-color: #01BCFF;
	border: 1px solid #01BCFF;
}

a{
	font-size: 20px;
}